footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

.footer-wrapper {
  background-color: #000 !important;
  color: #6F6F6F !important;
}

.default-content-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper a:any-link {
  color: #6F6F6F !important;
}

.footer-wrapper a:any-link:hover {
  text-decoration: none;
}