footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6F6F6F;
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.footer-wrapper {
  background-color: #fff !important;
  padding: 16px 0px;
}



.default-content-wrapper {
  display: flex;
  justify-content: space-between;
}



.footer-wrapper a:any-link {
  color: #6F6F6F !important;
}

.footer-wrapper a:any-link:hover {
  text-decoration: none;
}



.footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer div .default-content-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer div .default-content-wrapper picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer div .default-content-wrapper picture img {
  width: 35.57px;
  height: 20px;
}

.footer div .default-content-wrapper .button-container a {
  margin: 0px;
  background-color: #fff;
  color: #000 !important;
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.2px;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}

@media screen and (max-width: 1024px) {
  .footer-wrapper {
    padding: 16px 32px;
  }
}

@media screen and (max-width: 768px) {
  .default-content-wrapper {
    gap: 15px !important;
  }

  .footerWrapper {
    flex-direction: column;
    gap: 9px;
  }
}

@media screen and (max-width: 576px) {
  .default-content-wrapper {
    font-size: 12px;
    gap: 10px !important;
  }
}